@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

:root {
    --primary-color: rgba(0, 0, 0, 0.626);
    --secondary-color: #c1121F;
    --custom-white: rgb(234, 234, 234);
    --font-family: "Julee", cursive;
    --hover-color: #FDF0D5;
}

html {
    scroll-behavior: smooth;
}

p {
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

body {
    font-family: var(--font-family);
    margin: 0;
}

nav {
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--secondary-color);
    font-weight: bold;
    font-size: large;
}

nav h1 {
    color: var(--primary-color);
}

nav a {
    transition: 0.3s;
    color: var(--primary-color)
}

nav a:hover {
    color: var(--custom-white);
}

nav ul {
    display: flex;
    gap: 2rem;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/front_chicken.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero h1 {
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0.5em;
    color: var(--custom-white);
}

.hero a {
    font-size: 2em;
}

.hero .btn {
    display: block;
    width: 200px;
    border: 1.5px solid var(--custom-white);
    padding: 1em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    color: var(--custom-white);
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 20px;
}

.hero .btn:hover {
    transition: 0.5s;
    background-color: var(--secondary-color);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}